/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

#controls {
	font-size: 3em;
	color: black;
	position: absolute;
	bottom: 40;
  right: 40;
  background-color: white;
}

.controls {
  background-color: white;
}

.dialog {
	background: rgba(31, 31, 31, 0.596);
  color: #fff;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 132px;
	transform: translate(-50%, -50%);
  border-radius: 7px;
  -webkit-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
}

.head {

	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #00e1ff;
}

.dialog.big {

	height: 200px;
}

.dialog .head {

	background-color: #27272d;
	text-align: center;
	height: 40px;
}

.dialog .head span::before {

	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {

	width: 40%;
	height: 32px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  margin-top: 26px;
  margin-left: 31%;
  transition: all 0.2s ease-in-out;
  color: white;
}

.dialog input[type="text"]:hover {

  border: 2px solid white;
  border-radius: 6px;
}

.dialog input[type="text"]:active, .dialog input[type="text"]:hover {

  color: white;
}

.dialog input::placeholder {
  font-weight: 500;
  color: rgba(251, 251, 251, 0.842)
}

.dialog textarea {

	width: 100%;
	height: 128px;
}

.dialog button[name="submit"] {

	width: 17.6%;
	height: 32px;
  margin-left: 160px;
  font-weight: 300;
  color: white;
  background-color: black;
  border-radius: 6px;
  text-transform: uppercase;
  background: 0;
  outline: 0;
  transition: all 0.1s ease-in-out;
}

.dialog button {

  background-color: white;
  z-index: 9999;
	transform: translate(-0%, 50%);
}

.dialog button[name="cancel"] {

	width: 17.6%;
	height: 32px;
  margin-left: 80px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 200;
  background-color: black;
  color: white;
  outline: 0;
  background: 0;
  transition: all 0.1s ease-in-out;
}

.dialog button[name="cancel"]:hover {

  background-image: linear-gradient(to bottom, rgba(101, 237, 255, 0.2), rgba(129, 230, 255, 0.2), rgba(255,255,255,0.01));
  font-weight: 500;
  width: 17.6%;
  border: 1.2px solid white;
  border-radius: 6px;
}

.dialog button[name="submit"]:hover {

  background-image: linear-gradient(to bottom, rgba(101, 237, 255, 0.2), rgba(129, 230, 255, 0.2), rgba(255,255,255,0.01));
  font-weight: 500;
  width: 17.6%;
  border: 1.2px solid white;
  border-radius: 6px;
}

.head::before,
.head::after {

	content: "";
	flex-grow: 1;
	background: #00e1ff;
	height: 2px;
	margin: 0px 3px;
}

/* MADE BY SLIZZARN - DISCORD: slizzarn#1144 GITHUB: https://github.com/slizzarn-fivem */